<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Jam Search</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <link rel="stylesheet" href="../css/loading.css" />
    <link rel="stylesheet" href="../css/tag.css" />
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>
    <div id="app" v-cloak>
        <section class="section">
            <div class="container">
                <h1 class="title">Jam検索</h1>
                <el-form ref="form" :model="form" :rules="rules" v-show="loading">
                    <el-row :gutter="10">
                        <el-col :span="12">
                            <el-form-item label="傾斜" prop="select_wall">
                                <el-select v-model="form.select_wall" placeholder="傾斜を選択">
                                    <el-option v-for="wall in walls" v-bind:value="wall.category" v-bind:key="wall.id">
                                        {{ wall.category }}
                                    </el-option>
                                </el-select>
                            </el-form-item>
                        </el-col>
                        <el-col :span="12">
                            <el-form-item label="グレード" prop="select_grade">
                                <el-select v-model="form.select_grade" placeholder="グレードを選択">
                                    <el-option v-for="grade in grades" v-bind:value="grade.grade" v-bind:key="grade.id">
                                        {{ grade.grade }}
                                    </el-option>
                                    <el-button slot="append" icon="el-icon-search"></el-button>
                                </el-select>
                            </el-form-item>
                        </el-col>
                    </el-row>

                    <el-collapse>
                        <el-collapse-item title="タグ(最大4つまで)" name="1">
                            <el-checkbox-group v-model="form.checked_tags" :max="4">
                                <el-checkbox v-for="tag in tags" :label="tag.name" :key="tag.id">{{tag.name}}
                                </el-checkbox>
                            </el-checkbox-group>
                        </el-collapse-item>
                    </el-collapse>
                    <br>
                    <el-form-item>
                        <el-button type="primary" @click="submitForm('form')">検索</el-button>
                        <el-button @click="resetForm('form')">クリア</el-button>
                    </el-form-item>
                </el-form>
                <div v-show="resultVisible">
                    <p>検索結果: {{count}}件</p>
                    <carousel v-bind:per-page=1>
                        <slide v-for="c in contents" :key="c.id">
                            <p>課題名: {{c.problem_name}}</p>
                            <p>グレード: {{c.grade}}級・傾斜: {{c.wall}}°</p>
                            <p>作成者: {{c.creator}}</p>
                            <p>
                                <el-tag v-for="tag in c.tags" :key="tag.id">
                                    {{tag.name}}
                                </el-tag>
                            </p>
                            <img v-for="img in c.urls" :src="img">
                        </slide>
                    </carousel>
                </div>
                <div v-show="!loading" class="loader1"></div>
                <div v-show="!loading" style="color: #606266;">
                    <center>処理中...お待ち下さい。</center>
                </div>
            </div>
        </section>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://unpkg.com/element-ui/lib/umd/locale/ja.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-carousel@0.18.0/dist/vue-carousel.min.js"></script>
    <script src="../js/view.js"></script>
</body>

</html>